body {
	width: 1000px;
	margin: 0px auto;
	font-family: 'Oswald', sans-serif;/** font importada de google fonts **/
	
}

header {
	padding: 5px 20px;
	margin: 20px 0px;
	height: 120px;
	background-image: url('imgcss/cielo.jpg');
	display: flex;/**es fa servir flexbox per endreçar el contingut de header**/
	justify-content: space-between;
	align-items: center;
	
}



.redes{
	width: 141px;
	height: 42px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.redes i {
	font-size: 42px;
	color: black;
}

nav {
	background-color: #4C566E;
	height: 48px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding: 0;
}

nav ul li {
	/*display: inline;
	padding: 0px 20px 5px 10px;
	border-right: 1px solid #fff;*/
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 20px;
}

aside {
	margin: 20px 0px;
	width: 100%;
	height: 192px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.destacado {
	height: 100%;
	width: 327px;
	background-color: #A5BCEE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dest1 {
	background-image: url('imgcss/air.jpg');/** imatges dels destacats (decoracio) **/
}

#dest2 {
	background-image: url('imgcss/comp.jpg');
}

#dest3 {
	background-image: url('imgcss/sail.jpg');
}

h3 {
	font-size: 40px;
	color: #4C566E;
}

article {
	background-color: #7889AD;
	height: 453px; 
	display: flex;
	justify-content: center;
}

.principal {
	width: 600px;
	background-color: #ACC5FA;
	display: flex;
	justify-content: space-around;
	align-items: start;
}

.modulo {
	margin: 15px 10px;
	width: 200px;
}

footer{
	margin: 20px 0px;
	background-color: #4C566E;
	width:1000px;
	height: 70px;
	display: flex;
	align-items: center;
}

footer p {
	margin-left: 20px;
	color: white;
}

.email {
	text-decoration: none;
	color: white;
}

.email:hover {color: red;}/** quan pasem per sobre del vincle es veurà vermell**/