*{
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: 0px auto;
    font-family: 'Oswald', sans-serif;/** font importada de google fonts **/
    background-color: whitesmoke;
    font-size: 20px;
    
}

.content {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
}

/**ESTILOS TABLA**/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}